.parallax {
    /*overflow: hidden;*/
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
}

.parallax .scroller {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 200px;
    /*font-family: 'Arial', sans-serif;*/
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    mix-blend-mode: difference;
}

.parallax span {
    display: block;
    margin-right: 30px;
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
    color: transparent;
    -webkit-text-stroke-width: 2px;
    /*-webkit-text-stroke-color: #ffffff;*/
    -webkit-text-stroke-color: #fdba74;
    mix-blend-mode: difference;
}

.parallax span:nth-child(even) {
    /*background-color: lightyellow;*/
    color: white;
    -webkit-text-stroke-color: #ffffff;
    /*color: #fdba74*/
}

/* add media query for 640px */
@media screen and (max-width: 640px) {
    .parallax .scroller {
        font-size: 100px;
    }
}

